body {
    background-image: url("../images/Funeral_Pagoda_01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
    color: white;
    
}


